html,
body {
  width: 100%;
  min-width: var(--app-width);
  min-height: var(--app-height);
  max-height: 100vh;
}

body {
  display: flex;
  position: relative;
}

#app {
  display: flex;
  flex-direction: column;
  max-width: var(--app-width);
  margin: auto;
}

#outline {
  margin: auto;
  position: absolute;
  box-sizing: content-box;
  left: calc(50% - var(--app-width) / 2 - 2px);
  top: calc(50% - var(--app-height) / 2 - 2px);
  height: var(--app-height);
  width: var(--app-width);
  border: #673ab7 2px solid;
  z-index: -1;
  pointer-events: none;
}
